*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
     
}
body{
    width: 100vw;
    display: block;
}
main{
    margin-left: 10%;
    margin-right: 10%; 

}
footer{
    width: 100vw;
}

.title-header{
    height: 80px;   
    width:50%;
    float: left;
    background-color: white;
    padding-top:20px;
    
    
}
li{
    float:left; 
    list-style: none;
    margin-left: 20px;
    color:black;
    display: inline-block;
    padding-top: 5px;
    font-size: 17px;
    
    
 }
 .logo{
    display:inline-block;
    float: left;
    padding-left: 30px; 

 }
.title-header-2{
    height: 80px;
    background-color:white;
    width:50%;
    float: right;
    font-size: 17px;
}
.title-header-2 ul{
    padding-top: 20px;
    float: right;
    font-size: 16px;

}
.button-inizia{
    padding: 8px;
    background-color: blue;
}
    
.text-header{
    height: 850px;
    background-color:rgba(180, 208, 231, 1);
    width:100vw;
   
}
.text-header h1{
    font-size: 75px;
    padding-left:11%;
    padding-right: 10%;

}

.Piano-dropbox{
    height:1350px;
    background-color: purple;
    position: relative;
    
}
.title-dropbox{
background-color:blue;
height: 280px;

}
.tema-dropbox{
    height: 1070px;
    width:100%;
    background-color:white;
}
.info-1{
    width: 30%;
    height: 100%;
    background-color: bisque;
    float: left;
}
.info-2{
    width: 30%;
    height: 100%;
    background-color:yellowgreen;
    float: left;
    margin-left: 5%;
}
.info-3{
    width: 30%;
    height: 100%;
    background-color:gray;
    float:left;
    margin-left: 5%;
}
.Enterprise{
    height: 230px;
    background-color:blue;

}
.Info-Enterprise{
    height: 600px;
    background-color:yellow;
}

.Dropbox-business{
    height: 130px;
    background-color: grey;
}
.info-business{
    height:1100px;
    background-color: aqua;
}
.last-business{
    height:400px;
    background-color:green;
}

.Designit{
    height: 840px;
    background-color:blueviolet;

}
.Domande-frequenti{
    height: 720px;
    background-color:lightskyblue;

}
.final-footer{
    height: 500px;
    background-color: brown;
}